extends layout

block content
  h1= title
  p Welcome to the pen pug 
  div(class="container-fluid")
        div(class="row m-1")
            -
                let pen   = [
                    {
                        "type": "Pinpoint",
                        "ink_color": "Blue",
                        "cost": "20"
                    },
                    {
                        "type": "Reynolds",
                        "ink_color": "green",
                        "cost": "100"
                    },
                    {
                        "type": "Rollerball Pen",
                        "ink_color": "black",
                        "cost": "250"
                    }, 
                    {
                        "type": "Ink Pen",
                        "ink_color": "red",
                        "cost": "300"
                    },                         
                ]
            each v,index in pen 
             - let destination1 = `dispatch(\"/pen/update?id=${v._id}\")`
             - let destination2 = `dispatch(\"/pen/delete?id=${v._id}\")`
             - let destination3 = `dispatch(\"/pen/detail?id=${v._id}\")`
                div(class="col-sm-2" onclick=`buy(${index})`) #{v.type}
                div(class="col-sm-2" onclick=`buy(${index})`) #{v.ink_color}
                div(class="col-sm-2" onclick=`buy(${index})`) #{v.cost}
                button.btn( class="btn-primary ml-1", onclick= destination1) Update 
                button.btn( class="btn-secondary", onclick= destination2) Delete
                button.btn( class="btn-warning", onclick= destination3) View
        script. 
            function buy(itemNo)
            {
                alert(`You purchased Item ${itemNo+1}`)
            }
            
            function dispatch(path){ 
                 window.location.href=path 
            }     
  
        
