extends layout

block content
  h1= title
  p Welcome to the Pen  pug 
  div(class="container-fluid")
        div(class="row")
            -
                let pen   = [
                    {
                        "type": "Pinpoint",
                        "ink_color": "Blue",
                        "cost": "20"
                    },
                    {
                        "type": "Reynolds",
                        "ink_color": "green",
                        "cost": "100"
                    },
                    {
                        "type": "Rollerball Pen",
                        "ink_color": "black",
                        "cost": "250"
                    }, 
                    {
                        "type": "Ink Pen",
                        "ink_color": "red",
                        "cost": "300"
                    },                         
                ]
            each v,index in pen  
                div(class="col-sm-2" onclick=`buy(${index})`) #{v.type}
                div(class="col-sm-2" onclick=`buy(${index})`) #{v.ink_color}
                div(class="col-sm-2" onclick=`buy(${index})`) #{v.cost}
        script. 
            function buy(itemNo)
            {
                alert(`You purchased Item ${itemNo+1}`)
            }    
